0 1 0 crontab Hello hello-world.c ssh-test.exp ssh-test.sh test-dd.sh test-file.sh test-ifconfig.sh test-ip-dhc.sh test-list-pci.sh test-lsblk.sh test-mkfs.sh test-nfs-mount.sh test-ping.sh test-rsync.sh test-ssh-test.sh crontab Hello hello-world.c ssh-test.exp ssh-test.sh test-dd.sh test-file.sh test-ifconfig.sh test-ip-dhc.sh test-list-pci.sh test-lsblk.sh test-mkfs.sh test-nfs-mount.sh test-ping.sh test-rsync.sh test-ssh-test.sh crontab Hello hello-world.c ssh-test.exp ssh-test.sh test-dd.sh test-file.sh test-ifconfig.sh test-ip-dhc.sh test-list-pci.sh test-lsblk.sh test-mkfs.sh test-nfs-mount.sh test-ping.sh test-rsync.sh test-ssh-test.sh ls
